* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background: #CE7575;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes appearDwa {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@mixin animacja {
    animation-name: appear;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 1s;
}
@mixin animacjaDwa {
    animation-name: appearDwa;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 1s;
}
nav {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3vh auto;
        @include animacja;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: #fafafa;
            }
        }
        li:nth-child(n+2) {
            margin-left: 20px;
        }
    }
}
header {
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
    @include animacjaDwa;
    .headerTitle {
        font-weight: 700;
        text-align: center;
        margin-top: 10vh;
        z-index: 2;
    }
    .headerImg {
        max-width: 280px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 5vh auto;
        z-index: 0;
    }
    .headerParagraph {
        font-weight: 300;
        line-height: 30px;
        width: 60%;
        margin-left: 5vw;
    };
}
section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: White;
    .sectionTitle {
        margin-top: 10vh;
        font-weight: 700;
        font-size: 24px;
        margin-left: 5vw;
    }
    .sectionParagraph {
        margin-left: 5vw;
        margin-top: 5vh;
        font-size: 14px;
        line-height: 28px;
        width: 45%;
        z-index: 1;
        font-weight: 300;
    }
    .sectionImg {
        max-width: 220px;
        height: auto;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 32vw;
        margin-top: 32vh;
        z-index: 0;
    }
}
content {
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
    .contentTitle {
        font-weight: 700;
        font-size: 30px;
        margin-top: 10vh;
        margin-left: 5vw;
    }
    .contentParagraphOne {
        font-weight: 300;
        margin-top: 5vh;
        margin-left: 5vw;
        width: 90%;
        line-height: 28px;
    }
    .contentParagraphTwo {
        font-weight: 300;
        width: 90%;
        margin-left: 5vw;
        line-height: 28px;
    }
    .contentImg {
        max-width: 250px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 10vh 5vw;
    }
}


@media (min-width: 400px) {
    nav {
        .navigation {
            li {
                font-size: 16px;
            }
            li:nth-child(n+2) {
                margin-left: 45px;
            }
        }
    }
    header {
        .headerTitle {
            font-size: 40px;
        }
        .headerImg {
            max-width: 320px;
        }
        .headerParagraph {
            font-size: 16px;
        }
    }
    section {
        .sectionTitle {
            font-size: 32px;
        }
        .sectionParagraph {
            font-size: 16px;
        }
        .sectionImg {
            max-width: 260px;
            margin-top: 34vh;
        }
    }
    content {
        .contentTitle {
            font-size: 32px;
        }
        .contentParagraphOne {
            font-size: 16px;
        }
        .contentParagraphTwo {
            font-size: 16px;
        }
        .contentImg {
            max-width: 350px;
        }
    }
}
@media (min-width: 460px) {
    nav {
        .navigation {
            li {
                font-size: 18px;
            }
            li:nth-child(n+2) {
                margin-left: 50px;
            }
        }
    }
    section {
        .sectionImg {
            max-width: 280px;
            margin-top: 30vh;
            margin-left: 35vw;
        }
    }
}
@media (min-width: 540px) {
    section {
        .sectionImg {
            margin-left: 46vw;
            margin-top: 26vh;
        }
    }
}
@media (min-width: 670px) {
    nav {
        .navigation {
            li:nth-child(n+2) {
                margin-left: 80px;
            }
        }
    }
    header {
        .headerTitle {
            font-size: 70px;
            position: absolute;
            margin-top: 22.5vh;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .headerImg {
            max-width: 420px;
        }
    }
    section {
        .sectionTitle {
            font-size: 36px;
        }
        .sectionImg {
            margin-top: 17vh;
            max-width: 320px;
        }
    }
    content {
        .contentTitle {
            margin-top: 20vh;
            font-size: 36px;
        }
    }
}
@media (min-width: 700px) {
    header {
        .headerParagraph {
            margin-top: 8vh;
        }
    }
    section {
        .sectionImg {
            margin-left: 50vw;
            margin-top: 14vh;
            max-width: 320px;
        }
    }
}
@media (min-width: 1000px) {
    nav {
        .navigation {
            li {
                margin-top: 3vh;
                font-size: 24px;
            }
            li:nth-child(n+2) {
                margin-left: 100px;
            }
        }
    }
    header {
        .headerTitle {
            font-size: 95px;
        }
        .headerImg {
            max-width: 550px;
        }
        .headerParagraph {
            margin-top: 3vh;
            font-size: 20px;
        }
    }
    section {
        .sectionTitle {
            margin-top: 15vh;
            font-size: 65px;
            z-index: 1;
        }
        .sectionParagraph {
            font-size: 22px;
            line-height: 40px;
        }
        .sectionImg {
            max-width: 480px;
        }
    }
    content {
        .contentTitle {
            font-size: 65px;
        }
        .contentParagraphOne {
            font-size: 22px;
            line-height: 40px;
        }
        .contentParagraphTwo {
            font-size: 22px;
            line-height: 40px;
        }
        .contentImg {
            max-width: 600px;
        }
    }
}
@media (min-width: 1360px) {
    nav {
        .navigation {
            li {
                font-size: 30px;
            }
        }
    }
    header {
        .headerTitle {
            font-size: 110px;
        }
        .headerImg {
            max-width: 650px;
        }
        .headerParagraph {
            margin-top: 2vh;
        }
    }
    section {
        .sectionTitle {
            font-size: 75px;
        }
        .sectionParagraph {
            font-size: 26px;
            line-height: 45px;
        }
        .sectionImg {
            max-width: 630px;
        }
    }
    content {
        .contentTitle {
            font-size: 75px;
        }
        .contentParagraphOne, .contentParagraphTwo {
            font-size: 26px;
            line-height: 45px;
        }
        .contentImg {
            max-width: 700px;
        }
    }
}
@media (min-width: 1600px) {
    header {
        .headerParagraph {
            margin-top: 10vh;
        }
    }
}
@media (min-width: 1920px) {
    header {
        .headerParagraph {
            margin-top: 17vh;
        }
    }
}