* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background: #CE7575;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3vh auto;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: #fafafa;
            }
        }
        li:nth-child(n+2) {
            margin-left: 20px;
        }
    }
}
header {
    display: flex;
    flex-direction: column;
    color: white;
    .headerTitle {
        font-weight: 700;
        text-align: center;
        margin-top: 10vh;
    }
    .headerImg {
        max-width: 280px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 5vh auto;
    }
    .headerParagraph {
        font-weight: 300;
        line-height: 30px;
        width: 60%;
        margin-left: 5vw;;
    }
}
section {
    display: flex;
    flex-direction: column;
    color: White;
    .sectionTitle {
        margin-top: 10vh;
        font-weight: 700;
        font-size: 24px;
        margin-left: 5vw;
    }
    .sectionParagraph {
        margin-left: 5vw;
        margin-top: 5vh;
        font-size: 14px;
        line-height: 28px;
        width: 45%;
    }
    .sectionImg {
        max-width: 250px;
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -10vh;
        margin-left: 41vw;
    }
}